extends ./layout.jade

block title
    title= 'muhannad'

block content
    h1 HI
    pre= JSON.stringify(result)
    <div class="ct-chart ct-perfect-fourth"></div>

    script.
        var x = !{JSON.stringify(result)}
        console.log('s', x)
        new Chartist.Line('.ct-chart', x);
